registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@rdfkit:registry=https://npm.pkg.github.com/
@teakit:registry=https://npm.pkg.github.com/
@teasim:registry=https://npm.pkg.github.com/
@yiqilai:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GIT_TOKEN}
